body {
  padding: 0;
  margin: 0;
}

#finance {
  position: fixed;
  right: 0px;
  background: #fff;
  border-radius: 5px;
  border: #eee 1px solid;
  padding: 4px;
  margin: 3px;
  box-shadow: 0 0 2px 0 #000;
  display: none;
}

#finance #symbol {
  vertical-align: middle;
  margin-right: 3px;
}

#finance #expander {
  display: inline-block;
}

#menuDrop {
  position: absolute;
  right: 0px;
}

#menu {
  --background: #fff;
  --border-radius: 5px;
  --border: #eee 1px solid;
  padding: 4px;
  margin: 3px;
  --box-shadow: 0 0 2px 0 #000;
}

.editModeVisible {
  display: none;
}
